{% extends 'layout.html' %}
{% load static %}

{% block title%}Books{% endblock %}

{% block content %}
			<article class="content">
				<section class="select">
  					<form action="#" method="post">
    					<div class="option">
							<label >
        						<input type="checkbox" name="genre" value="Romans"> Romans
							</label><br>

      						<label>
        						<input type="checkbox" name="genre" value="Science Fiction"> Science Fiction
     	 					</label><br>

							<label>
     	   						<input type="checkbox" name="genre" value="Fantasy"> Fantasy
     	 					</label><br>

    	  					<label>
								<input type="checkbox" name="genre" value="Thriller"> Thriller
     						 </label><br>

							<label>
								 <input type="checkbox" name="genre" value="Horror"> Horror
							</label>
						</div>

    					<div class="select_reset">
      						<button type="submit" >Select</button>
							<button type="reset" >Reset</button>
    					</div>
					</form>
				</section>
				<section class="section_books">
					<div class="books">
						<div class="book">
							<a href="book.html" class="book_image">
								<img src="https://www.singlecolorimage.com/get/c7c7c7/200x200" alt="Book 1" />
							</a>
							<div class="book_info">
								<span class="book_title">Book 1</span>
								<span class="book_price">10$</span>
							</div>
						</div>
						<div class="book">
							<a href="#" class="book_image">
								<img src="https://www.singlecolorimage.com/get/c7c7c7/200x200" alt="Book 1" />
							</a>
							<div class="book_info">
								<span class="book_title">Book 1</span>
								<span class="book_price">10$</span>
							</div>
						</div>
						<div class="book">
							<a href="#" class="book_image">
								<img src="https://www.singlecolorimage.com/get/c7c7c7/200x200" alt="Book 1" />
							</a>
							<div class="book_info">
								<span class="book_title">Book 1</span>
								<span class="book_price">10$</span>
							</div>
						</div>
						<div class="book">
							<a href="#" class="book_image">
								<img src="https://www.singlecolorimage.com/get/c7c7c7/200x200" alt="Book 1" />
							</a>
							<div class="book_info">
								<span class="book_title">Book 1</span>
								<span class="book_price">10$</span>
							</div>
						</div>
					</div>
				</section>
			</article>
{% endblock %}