{% extends 'layout.html' %}
{% load static %}

{% block title %}Books{% endblock %}

{% block content %}
        <article class="book_info">
        <section class="book_details">
            <img src="{{ book.image.url}}" alt="Book 1" />
            <div class="book_info_text">
                <h2><span class="book_title">{{ book.name }}</span></h2>
                <h3><span class="book_author">{{ book.author }}</span></h3>
                <h3><span class="book_price">{{ book.price }}</span></h3>
                <a class="book_buy" href="{% url 'add_to_cart' book.id %}">Buy</a>
            </div>
        </section>
        <section class="book_description">
                 <h1>About</h1>
                <p>{{ book.author.desc }}</p>
        </section>
    </article>
        </article>

        <footer class="footer">
            <span>Books</span> | <span>2021</span>
        </footer>
    </main>
</body>
</html>
{% endblock %}